<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Vagas de Emprego</title>
<style>
    .fundo{
        background-color: darkcyan;
    }
</style>
</head>
<body class="fundo">
    <div class="jumbotron text-center">
        <h1>CADASTRAR VAGAS DE EMPREGO</h1>
                
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8 text-center fundo">
                <form th:object="${emprego}" th:action="@{/cadastrar}" method="post">

                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Nome da Empresa:</span>
                            </div>
                            <input type="text" class="form-control" th:field="*{nomeEmpresa}" placeholder="Digite nome da empresa">
                          </div>
                    <br>
                    <div class="alert alert-danger" th:errors="*{nomeEmpresa}">  
                    </div>                    
                    <br>
                    <div class="input-group mb-3 input-group-lg">
                    <div class="input-group-prepend">
                            <span class="input-group-text">Documento (CNPJ):</span>
                          </div>
                          <input type="text" class="form-control" th:field="*{cnpj}" placeholder="Digite cnpj da empresa">
                        </div>
                    <br>
					<div class="alert alert-danger" th:errors="*{cnpj}">  
                    </div>                    
                    <br>

                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Função:</span>
                            </div>
                            <input type="text" class="form-control" th:field="*{funcao}" placeholder="Digite nome da funçao">
                          </div>                    
                    <br>
                    <div class="alert alert-danger" th:errors="*{funcao}">  
                    </div>
                    <br>

                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Vagas Disponíveis:</span>
                            </div>
                            <input type="text" class="form-control" th:field="*{vagasDisponiveis}" placeholder="Digite a quantidade de vagas">
                          </div>                     
                    <br>                   
                    <div class="alert alert-danger" th:errors="*{vagasDisponiveis}">  
                    </div>
                    <br>

                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Carga Horária:</span>
                            </div>
                            <input type="text" class="form-control" th:field="*{cargaHoraria}" placeholder="Digite a carga horária">
                          </div>                      
                    <br>
                    <div class="alert alert-danger" th:errors="*{cargaHoraria}">  
                    </div>
                    <br>
                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Salário:</span>
                            </div>
                            <input type="text" class="form-control" th:field="*{salario}" placeholder="Digite valor do salario">
                          </div>                     
                    <br>
                    <div class="alert alert-danger" th:errors="*{salario}">  
                    </div>
                    <br>

                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Requisitos:</span>
                            </div>
                            <input type="text" class="form-control" th:field="*{requisitos}" placeholder="Digite a requisitos">
                          </div>                     
                    <br>
                    <div class="alert alert-danger" th:errors="*{requisitos}">  
                    </div>
                    <br>

                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Contato(s):</span>
                            </div>
                            <input type="text" class="form-control" th:field="*{contatos}" placeholder="(00) 0000-0000">
                          </div>                          
                   	<br>
                    <div class="alert alert-danger" th:errors="*{contatos}">  
                    </div>
                    <br>
                    
                    <button type="submit" class="btn btn-primary">CADASTRAR</button>
                    <br>
                    <br>		
					<a href="/vagascadastradas" class="btn btn-secondary">VAGAS CADASTRADAS</a>
					<br>
                </form>
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </div>
</body>
</html>